<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Academic Tracker</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
</head>
<body>
	<div class="form-div">
		<h2 class="login-page-title">ACADEMIC<br> TRACKER</h2>
<!-- 		<h4>Academic Tracker</h4> -->
		<div class="inner-form-div">
			<h3 class="login-font">Login</h3>
			<form method="POST">
				<input type="text" name="username" class="username-input login-input" placeholder="Username" autocomplete="off">
				<input type="password" name="password" class="password-input login-input" placeholder="Password">
				<button type="submit" class="login-btn">Login</button>
			</form>
		</div>
	</div>
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

</body>
</html>